<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/blogData?createDatabaseIfNotExist=true</property>
        <property name="useSSL">false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>
        <property name="connection.pool_size">10</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">none</property>
        <property name="hibernate.jdbc.time_zone">UTC</property>
        <mapping class="main.model.User"/>
        <mapping class="main.model.Post"/>
        <mapping class="main.model.Tag"/>
        <mapping class="main.model.CaptchaCode"/>
        <mapping class="main.model.GlobalSetting"/>
        <mapping class="main.model.PostComment"/>
        <mapping class="main.model.PostVote"/>
        <mapping class="main.model.TagToPost"/>
    </session-factory>
</hibernate-configuration>